snippet docs
"""
File: `!v expand("%")`
Author: Christian Karl
Description: ${1}
"""
${0}
endsnippet
snippet deff
def ${1:name}(${2:var1}):
    ${3:pass}
endsnippet
snippet gtk
from gi import require_version
require_version('Gtk', '3.0')
from gi.repository import Gtk
endsnippet
